<header class="text-center pt-4">
    <nav>
        <a routerLink="/admin/homepage" class="mr-4">Accueil</a>
        <a routerLink="/admin/add-category" class="mr-4">Ajouter une catégorie</a>
        <button class="btn btn-sm btn-danger" (click)="logout()">Déconnexion</button>
    </nav>
    <p class="mt-3">
        Bienvenue {{ username }} !
    </p>
</header>
<hr style="margin: 0;">