<div class="container">
    <header class="text-center p-4">
        Bienvenue {{ username }} !
        <button class="btn btn-sm btn-danger" (click)="logout()">Déconnexion</button>
    </header>
    <hr style="margin: 0;">
    
    <main>
        <div class="card m-3 p-2" *ngFor="let meeting of meetings">
            <p>Demandeur : {{ meeting['user']['username'] }}</p>
            <p>Catégorie : {{ meeting['category']['name'] }}</p>
            <p>Durée : {{ meeting['duration'] }}</p>
            <p>Crée le : {{ meeting['created_at']  | date:'short'}}</p>
        </div>
    </main>
    
    <hr style="margin: 0;">
    <footer>
        <form [formGroup]="meetingForm" (ngSubmit)="onSubmit()">
            <h3>Demander un meeting</h3>
            <div class="form-group">
                <label for="categoryId">Choisissez une catégorie</label>
                <select class="form-control" name="categoryId" id="categoryId" formControlName="categoryId">
                    <option value="{{ category['id'] }}" *ngFor="let category of categories">{{ category['name'] }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="duration">Choisissez une durée</label>
                <select class="form-control" name="duration" id="duration" formControlName="duration">
                    <option value="15min">15min</option>
                    <option value="30min">30min</option>
                </select>
            </div>
            <button type="submit" [disabled]="this.meetingForm.invalid" class="btn btn-warning mt-2">Ajouter</button>
        </form>
    </footer>
</div>