.container {
    height: 100vh;
    overflow: hidden;
}

header {
    height: 72px;
}

main {
    height: calc(100% - 270px - 72px);
    overflow: auto;
}

footer {
    height: 270px;
    padding-bottom: 5px;
}