<div class="container">
    
    <main>
        <div class="card m-3 p-2" *ngFor="let meeting of meetings">
            <p>Demandeur : {{ meeting['user']['username'] }}</p>
            <p>Catégorie : {{ meeting['category']['name'] }}</p>
            <p>Durée : {{ meeting['duration'] }}</p>
            <p>Crée le : {{ meeting['created_at'] | date: 'short' }}</p>
            <button class="btn btn-warning" (click)="onDeleteMeeting(meeting['id'])">Supprimer</button>
        </div>
    </main>
</div>