<div id="loginPage">
    <div class="loginBox p-5">
        <h1>Connexion</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="text-center">
            <div class="textbox">
                <i class="fa fa-user"></i>
                <input id="email" type="text" formControlName="username" placeholder="Username">
            </div>
            <div class="textbox">
                <i class="fa fa-lock"></i>
                <input id="password" type="password" formControlName="password" placeholder="Mot de passe">
            </div>
            <button class="button" type="submit" [disabled]="loginForm.invalid">Se connecter</button>
        </form>
    </div>
</div>
