#loginPage {
    width: 100vw;
    height: calc(100vh - 60px);
    margin: 0;
    padding: 0;
}

.loginBox {
    width: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    background: rgb(0, 0, 0, 0.9);
}

.loginBox h1 {
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #6D62FC;
    margin-bottom: 50px;
    padding: 13px 0;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #6D62FC;
}

.textbox i {
width: 26px;
float: left;
text-align: center;
}

.textbox input {
border: none;
outline: none;
background: none;
color: white;
font-size: 18px;
width: 80%;
text-align: center;
margin: 0 10px;
}

.button {
    width: 100%;
    background: none;
    border: 2px solid #6D62FC;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
    transition: 0.5s;
}

.button:hover {
    background: #6D62FC;
}
