<div class="container mt-5">
    <main>
        <div class="card p-2 my-2 text-center" *ngFor="let category of categories">
            <h5>{{ category['name']}}</h5>
            <button class="mt-3 btn btn-warning" (click)="onDelete(category['id'])">Supprimer</button>
        </div>
    </main>
    <footer class="mt-5">
        <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
            <h3>Créer une nouvelle catégorie</h3>
            <div class="form-group mt-2">
                <input type="text" placeholder="Entrer le nom de la catégorie" class="form-control" id="categoryName" formControlName="name">
            </div>
            <button class="btn btn-primary" type="submit">Créer une catégorie</button>
        </form>
    </footer>
</div>